/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    white 65%,
    #1c5380 35%
  );
  margin-top: 5%;

}

.part{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

#phones{
  width: 100%;
  margin-right:5%;
}

.bigCapture{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-image: url("/images/frame.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 70%;
  width: 50%;
  height: auto;
  margin: auto 50px;
}

  .navBar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  margin-bottom: 2em;
}


.login{
  height: 20%;
  width: 15%;
  padding: 10px;
  border: 1px solid black ;
  border-radius: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; */
}

#loginbtn{
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  color:white;
}

#brand{
  display:flex;
  align-self: flex-start;
}

.caption{
  width: 100%;
  height: 50%;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1{
  color:#06365f;
  margin-left: 40px;
  margin-top: 0px;
  line-height: 1.3em ;
}

p{
  width: 80%;
  margin-left: 40px;
  line-height: 1.3em ;
  font-weight: 400;
  color: rgb(106, 104, 104)
}

.links{
  margin-left: 40px;
  margin-top: 0px;
}

footer{
  width: 40em;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
footer a{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  color: #1c5380;
}

#greytext{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  color: rgb(189, 189, 189);
}